<div class="my-4">

  <h5>Catálogos de Aplicación</h5>

  <div class="d-flex align-content-start flex-wrap gap-3 pt-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Application User</h5>
        <p class="card-text">Administra la información de los usuarios del sistema</p>
        <a href="user" class="nav-link">
          <i class="dx-icon-group dx-icon-custom-style"></i>
        </a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Application User</h5>
        <p class="card-text">Administra la información de los usuarios del sistema</p>
        <a href="user" class="nav-link">
          <i class="dx-icon-group dx-icon-custom-style"></i>
        </a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Application User</h5>
        <p class="card-text">Administra la información de los usuarios del sistema</p>
        <a href="user" class="nav-link">
          <i class="dx-icon-group dx-icon-custom-style"></i>
        </a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Application User</h5>
        <p class="card-text">Administra la información de los usuarios del sistema</p>
        <a href="user" class="nav-link">
          <i class="dx-icon-group dx-icon-custom-style"></i>
        </a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Application User</h5>
        <p class="card-text">Administra la información de los usuarios del sistema</p>
        <a href="user" class="nav-link">
          <i class="dx-icon-group dx-icon-custom-style"></i>
        </a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Application User</h5>
        <p class="card-text">Administra la información de los usuarios del sistema</p>
        <a href="user" class="nav-link">
          <i class="dx-icon-group dx-icon-custom-style"></i>
        </a>
      </div>
    </div>
  </div>

</div>
